<%-include('partials/header') %>
<%-include('partials/navbar') %>

<div class="container-fluid el-home">
    <div class="row">
        <div class="col-6 texto-home">
            <h2>PLANTITAS</h2>
            <h2>INDOOR</h2>
            <div class="p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</div>
            <a class="btn btn-primary" href="http://localhost:5500/admin" role="button">PUBLICAR</a>
        </div>
    </div>
</div>

<div class="container-fluid">
     <div class="row">
        <div class="col">
            <h1 class="text-center">PLANTAS INDOOR</h1>
        </div>
    </div>

    <main class="row row-cols-1 row-cols-md-4 g-4" id="lista-publicaciones">
            <!-- aca se inserta el listado de publicaciones -->
    </main>         
</div>

<script src="/js/home.js"></script>

<%-include('partials/footer') %>